In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.Series([1,2,3,4,5])

In [3]:
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
data.values

array([1, 2, 3, 4, 5])

In [5]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
data[0]

1

In [7]:
data[1:3]

1    2
2    3
dtype: int64

In [12]:
data[4]

5

In [13]:
data = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

In [14]:
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [15]:
data['c']

3

In [16]:
data = pd.Series(dict(a=1,b=2,c=3,d=4,e=5))

In [17]:
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
data['b':'d']

b    2
c    3
d    4
dtype: int64

In [19]:
series_1 = pd.Series(dict(a=1,b=2,c=3,d=4,e=5))

In [20]:
series_2 = pd.Series(dict(a=11,b=12,c=13,d=14,e=15))

In [21]:
df = pd.DataFrame({'column_1':series_1, 'column_2':series_2})

In [22]:
df

   column_1  column_2
a         1        11
b         2        12
c         3        13
d         4        14
e         5        15

In [23]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [24]:
df.columns

Index(['column_1', 'column_2'], dtype='object')

In [25]:
df['column_1']

a    1
b    2
c    3
d    4
e    5
Name: column_1, dtype: int64

In [26]:
df['a']

KeyError: 'a'

In [27]:
df['column_1']['a']

1

In [28]:
df['column_2']['c']

13

In [32]:
df2 = pd.DataFrame([[1,2],[11,12],[21,22]], index=['a','b','c'],columns=['col_1', 'col_2'])

In [33]:
df2

   col_1  col_2
a      1      2
b     11     12
c     21     22

In [35]:
df3 = pd.DataFrame([[1,2,3],[11,12,13]], index=['a','b'], columns=['col_1', 'col_2', 'col_3'])

In [36]:
df3

   col_1  col_2  col_3
a      1      2      3
b     11     12     13

In [37]:
df3.at['a', 'col_1']

1

In [39]:
df3.iat[0,0]

1

In [40]:
df3.at['a', 'col_1'] = 101

In [41]:
df3

   col_1  col_2  col_3
a    101      2      3
b     11     12     13

In [42]:
df3.iat[0,1] = 102

In [43]:
df3

   col_1  col_2  col_3
a    101    102      3
b     11     12     13

In [44]:
df3.loc['a':'b', 'col_3']

a     3
b    13
Name: col_3, dtype: int64

In [45]:
df3.loc['a':'b', 'col_2':'col_3']

   col_2  col_3
a    102      3
b     12     13

In [46]:
df3.loc['a':'b', 'col_2':'col_3'] = [[502, 503],[512,513]]

In [47]:
df3

   col_1  col_2  col_3
a    101    502    503
b     11    512    513